<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="PW_AE_Demo">

	<listeners>
		<listener class-name="framework.listeners.TestListener" />
	</listeners>

	<test name="AE_Website_Test">

		<parameter name="environment" value="qa" />

		<classes>

			<class name="test.ProductsTest" />
			<class name="test.CheckOutTest" />
			<class name="test.CartTest" />
			<class name="test.SignupTest" />
			<class name="test.LoginTest" />
			<class name="test.LogoutTest" />
			<class name="test.HomeTest" />
			<class name="test.ContactUsTest" />
			<class name="test.TestsCaseTest" />


		</classes>

	</test>
</suite>
